POSTGRES_DB=airpollution
POSTGRES_USER=airpollution
POSTGRES_PASSWORD=airpollution
INDOOR_SOURCE_URL=http://192.168.53.203/realtime
WAQI_URL=https://api.waqi.info/feed/here/
WAQI_TOKEN=replace_me
POLL_INTERVAL_SECONDS=300
ENABLE_POLLER=true
HISTORY_DEFAULT_DAYS=7
HISTORY_MAX_DAYS=30
